@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&family=Montserrat:wght@500;700&display=swap');


:root {
  --blue: #4267B2;
  --green: #24A695;
  --bnt-color: #F94D53;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Inter', sans-serif;
}

.bg-red {
  background-color: var(--bnt-color);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-green {
  background-color: #24A695;
}

.btn-danger {
  background-color: var(--bnt-color);
}

.btn-danger:hover {
  background-color: #f84141;
}

.main {
  margin-top: 100px;
}

.main .card {
  border: none;
}

.main .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.main-text h1 {
  font-size: 3rem;
  font-weight: bold;
}

.info {
  height: auto;
  margin-top: 3rem;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: small;
  border-radius: 10px;
  box-shadow: 4px 4px 9px 0px rgba(87, 87, 87, 1);
}

.the-process {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.the-process h1 {
  font-size: 2.5rem;
  padding: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 4px 4px 9px 0px rgba(87, 87, 87, 1);

}

.number {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 6rem;
  font-weight: bold;
  color: white;
  padding: 20px;
}

.number i {
  font-size: 40px;
}

.card-info {
  font-weight: bold;
  color: white;
}

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.col h4 {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.col p {
  color: #04195B;
  font-size: 15px;
  font-weight: 400;
}

.why-us .container {
  margin-top: 3rem;
}

.services {
  margin-top: 3rem;
  background-color: #EFF4F6;
}

.services h1 {
  padding: 20px;
}

.services i {
  font-size: 30px;
  color: #59ed9c;
}

.card-img-top {
  width: 100%;
}

/* Whatsapp floting bottom */

.floatWapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  background-color: #25d366;
  color: #FFF;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}